.venv/
__pycache__/
*.pyc
code_style.txt
token.txt

dataset/*

runs/
logs/
output/
scripts/*.out
scripts/*.status
scripts/pids/
results/linear_eval_hparam/
results/**/*.status
results/**/*.pt
**/pretrained/*
